.nowrap-column {
  white-space: nowrap;
}

.dataTables_length {
  display: flex;
  align-items: end;
  white-space: nowrap;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.custom-select.custom-select-sm.form-control.form-control-sm {
  width: 50px;
  
}

#all_products_table_wrapper > .row {
  align-items: end;
}

#low_price_products_table_wrapper > .row {
  align-items: end;
}

#same_products_table_wrapper > .row {
  align-items: end;
}

#zero_price_products_table_wrapper > .row {
  align-items: end;
}

