<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Products</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="total_products">00</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-box-open fa-2x text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Same Products -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Same Products</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="same_products">00</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-clone fa-2x text-success"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Total Channels -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Channels</div>
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="total_channels">00</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-server fa-2x text-info"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Low Price Products -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Low Price Products</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="low_price_products">00</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-tags fa-2x text-warning"></i>
                </div>
            </div>
        </div>
    </div>
</div>