<ul class="navbar-nav sidebar sidebar-light accordion sticky-top vh-100" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <img src="{{ url_for('static', path='img/logo/logo2.png') }}">
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">MENU</div>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('same_products') }}">
            <i class="fas fa-clone"></i>
            <span>Same Product</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('low_price_products') }}">
            <i class="fas fa-tags fa-2x"></i>
            <span>Low Price Product</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('zero_price_products') }}">
            <i class="fas fa-ban "></i>
            <span>Zero Price Product</span>
        </a>
    </li>



    <hr class="sidebar-divider">
</ul>