<!DOCTYPE html>
<html lang="en">

{% include 'includes/header.html' %}

<body id="page-top">
  <div id="wrapper">
    {% include 'includes/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'includes/navbar.html' %}


        {% block content %}
        <div class="container-fluid" id="container-wrapper">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item">Pages</li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>

      

          <div class="row mb-3">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class=" col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Product</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ products | length }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-box-open fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Same Products</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">4500</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clone fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total Channels</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{unique_channels}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-network-wired fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Low Price Products</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">5000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tags fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">All Products</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Channels</th>
                        <th>Source Type</th>
                        <th>Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in products %}
                      <tr>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_description }}</td>
                        <td>{{ product.product_price }}</td>
                        <td>{{ product.channel_name }}</td>
                        <td>{{ product.source_type }}</td>
                        <td>
                          {% if product.media_url %}
                          <img src="{{ product.media_url }}" alt="Product Image" width="40" height="30">
                          {% else %}
                          <span class="text-muted">No Image</span>
                          {% endif %}
                        </td>

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>



        </div>
        {% endblock %}
      </div>
      {% include 'includes/footer.html' %}

    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'includes/scripts.html' %}
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable();
      $('#dataTableHover').DataTable();
    });
  </script>
</body>

</html>